lcd_address=39
keyboard_address=/dev/input/event2
mongodb_url=mongodb+srv://admin:GI1nFdtlEC2q3vxx@cluster0-rfhmi.mongodb.net/admin?authSource=admin&replicaSet=Cluster0-shard-0&readPreference=primary&appname=MongoDB%20Compass&ssl=true
mongo_db_name=adas
uart_address=/dev/ttyS3
uart_baud_rate=115200